.container {
  margin: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 20px;
}

.cartItems {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cartItem {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  position: relative;
  width: 220px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  p {
    font-size: 0.9rem;
    color: #666;
    margin: 5px 0;
  }
}

.removeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px 8px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ff4c4c;
  }
}

.emptyCart {
  margin-top: 50px;
  text-align: center;
}

.linkButton {
  display: inline-block;
  background-color: rgb(26, 80, 74);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 500;

  &:hover {
    background-color: turquoise;
    color: #333;
  }
}

.total {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

.clearCartButton {
  background-color: #ff6b6b;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  align-self: flex-start;

  &:hover {
    background-color: #ff4c4c;
  }

  svg {
    fill: currentColor;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 90%;

  h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #333;
  }

  input {
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #cacaca;
    color: #333;
  }

  button {
    margin-top: 15px;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #363636;
    }
  }
}

.closeButton {
  margin-top: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #c82333;
  }
}

.checkoutButton {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #363636;
  }
}

.receiptContainer {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 85%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  text-align: left;

  li {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }

  h3 {
    font-size: 1.5rem;
    color: #28a745;
    margin-bottom: 15px;
    text-align: center;
  }

  .productList {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;

    .productName {
      flex: 2;
    }

    .productDetails {
      flex: 1;
      text-align: right;
    }
  }

  .totalPrice {
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
    color: #333;
    font-size: 1.2rem;
  }
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
